.app-header {
  height: 70px;
  flex-shrink: 0;
}

#app {
  min-height: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: auto 1 0;
  margin: 0px 0px 76px 0px;
}

.app-footer {
  height: 76px;
  position: fixed;
  bottom: 0;
}

#app-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a-position {
  position: absolute;
}

img {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-font {
  font-family: 'Coda', monospace;
  text-align: center;
  line-height: 100%;
  font-size: 30px;
}

.typer-background-color {
  background-color: #17bf63;
}

.name-decoretion {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #17bf63;
}

.footer-font {
  font-family: 'Coda', 'Arial', monospace;
}

.footer-center {
  width: 100%;
}

.contact {
  display: flex;
  flex-flow: row wrap;
}

.social-media {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.copyright {
  font-size: 10px;
  color: #808f9a;
  bottom: 5px;
  left: 5px;
  order: 2;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

a {
  margin: 5px;
  padding: 10px;
  border-radius: 10%;
  color: #808f9a;
  transition: border 0.1s, color 0.3s, background 0.3s;
  text-decoration: none;
}

a.fa-envelope:hover {
  background: #17bf63;
  color: white;
}

a.fa-github:hover {
  background: #111111;
  color: white;
}

.fa-linkedin:hover {
  background: #0077b5;
  color: white;
}

.fa-twitter:hover {
  background: #55acee;
  color: white;
}

.fa-telegram-plane:hover {
  background: #0088cc;
  color: white;
}

.fa-id-card:hover {
  background: firebrick;
  color: white;
}

.switch-label {
  font-family: 'Coda', monospace;
  float: right;
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.switch {
  cursor: pointer;
  margin-top: 3px;
  float: right;
  position: relative;
  width: 40px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #17bf63;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17bf63;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
